<!doctype html>
<!-- Server: sfs-consume-2 -->

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]>--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="project" content="bitcoin">
        <meta name="description" content="Get Bitcoin at SourceForge.net. Fast, secure and free downloads from the largest Open Source applications and software directory">
        <meta name="keywords" content="E-Commerce / Shopping,  Open Source, Open Source Software, Development, Community, Source Code, Secure,  Downloads, Free Software">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bitcoin -  Browse /Bitcoin/bitcoin-0.3.3 at SourceForge.net</title>
        <link rel="shortcut icon" href="http://a.fsdn.com/con/img/sftheme/favicon.ico">
        <link rel="cdn" href="http://a.fsdn.com/con">
        <script type="text/javascript">
            /*jslint onevar: false, nomen: false, evil: true, css: true, plusplus: false, white: false, forin: true */
            /*global unescape, window, jQuery, $, net, COMSCORE */
            // Setup our namespace
            if (!window.net) { window.net = {}; }
            if (!window.net.sf) { window.net.sf = {}; }
        </script>
        

<script src="http://a.fsdn.com/con/js/sftheme/modernizr.custom.90514.js"></script>
<!--[if lt IE 7 ]>
  <script src="http://a.fsdn.com/con/js/sftheme/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
<![endif]-->
<link href='//fonts.googleapis.com/css?family=Ubuntu:regular' rel='stylesheet' type='text/css'>
<style type="text/css">
    @font-face {
        font-family: "Pictos";
        src: url('http://a.fsdn.com/con/css/fonts/sftheme/pictos-web.eot');
        src: local("☺"), url('http://a.fsdn.com/con/css/fonts/sftheme/pictos-web.woff') format('woff'), url('http://a.fsdn.com/con/css/fonts/sftheme/pictos-web.ttf') format('truetype'), url('http://a.fsdn.com/con/css/fonts/sftheme/pictos-web.svg') format('svg');
    }
</style> 
        <link rel="stylesheet" href="http://a.fsdn.com/con/css/sf.css?1304005231" type="text/css">
        
        <script>
            var _gaq = [['_setAccount', 'UA-32013-6'], ['_trackPageview']];
            (function(d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.async = true;
                g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s);
            })(document, 'script');
        </script>
        
<!-- DoubleClick Random Number -->
<script type="text/javascript">
    var dfp_ord = Math.random() * 10000000000000000;
    var dfp_tile = 1;
    var ad_prefix = '';
    var adspot = '';
    var demandbase = demandbase || '';

    
    var ad_page = '/project/showfiles.php';
    

    var adid = '';
    var sponsored = '';
    var ad_topics = '';
    var dfp_dcopt = 'dcopt=ist;';

    
    var page_id = '';
    

    
    var ad_zone = net.sf.ab_test || 'enterprise';
    if (page_id) {
        ad_prefix = 'cons_' + page_id + '_' + ad_zone + '_';
    } else {
        ad_prefix = 'cons_' + ad_zone + '_';
    }
    

    var ad_logged_in = 0;
    var ad_search = 0;
    var immersion_adcode = "";
    var dfp_u = '';

    var google_page_url = 'http://sourceforge.net/projects/bitcoin';
    var sourceforge_project_name = 'Bitcoin';
    var sourceforge_project_description = 'Bitcoin is a decentralized P2P electronic cash system without a central server or trusted parties Users hold the crypto keys to their own money and transact directly with each other with the help of the network to check for double spending ';
    ad_topics = 'tpc=bitcoin;';
    
    var google_hints = 'cpp,ecommerce,office';
    dfp_u = '20081109_bitcoin_E-Commerce-/-Shopping';
    ad_topics += 'tpc=cpp;tpc=ecommerce;tpc=office;';
    

</script>
        
    </head>
    <body id="pg_files" class="user">
        
        <div id="busy-spinner"></div>
        <div id="leaderboard-ad">
            
<script type="text/javascript">
    adspot = ad_prefix + 'p1_leader';
    if (adid !== "") {
        adspot += ";comp=" + adid;
    }

    if (immersion_adcode === "") {
        
        
        document.write(unescape('%3Cscript src="http://ad.doubleclick.net/adj/ostg.sourceforge/' + adspot + ';pg=' + ad_page + ';psrch=' + ad_search + ';logged_in=0;' + ad_topics + dfp_dcopt + 'u=' + dfp_u + ';tile=' + dfp_tile + demandbase + ';sz=728x90;ord=' + dfp_ord + '?" type="text/javascript"%3E%3C/script%3E'));
        
        dfp_tile = dfp_tile + 1;
        dfp_dcopt = ''; 
    }
</script>
        </div>
        
<header id="site-header">
    <div class="wrapper">
        <a href="/" class="logo">
            <h1>SourceForge</h1>
        </a>
        
        <form method="get" action="/search/">
            <input type="text" id="words" name="q" placeholder="Find Open Source Software">
        </form>
        
        <nav>
            
            <a href="/user/registration/">Register</a>
            <a href="https://sourceforge.net/account/login.php">Log In</a>
            
        </nav>
        
    </div>
</header>
        
<header id="page-header">
    
<section id="project-header">
    <div id="project-icon" class="noneditable">
        <img alt="Bitcoin Icon" src="http://a.fsdn.com/con/icons/bi/bitcoin@sf.net/bitcoin-sf-icon2.png" height="48" width="48"/>
    </div>
    <div id="project-title">
        <h2>Bitcoin</h2>
        <span id="dev-status" class="beta">beta</span>
        <p id="maintainers">
        by
        <a href="/users/gavinandresen">gavinandresen</a>, 
        <a href="/users/s_nakamoto">s_nakamoto</a>
        </p>
        
    </div>
</section>
<nav>
    <div class="firstwave">
 <ul class="b-hornav">
  <li id="menu_consume_summary">
   <a href="/projects/bitcoin">
    <span>
     <span>
      Summary
     </span>
    </span>
   </a>
  </li>
  <li id="menu_consume_files" class="selected">
   <a href="/projects/bitcoin/files">
    <span>
     <span>
      Files
     </span>
    </span>
   </a>
   <div class="diamond">
   </div>
  </li>
  <li id="menu_consume_reviews">
   <a href="/projects/bitcoin/reviews">
    <span>
     <span>
      Reviews
     </span>
    </span>
   </a>
  </li>
  <li id="menu_project_support">
   <a href="/projects/bitcoin/support">
    <span>
     <span>
      Support
     </span>
    </span>
   </a>
  </li>
  <li id="menu_project_develop">
   <a href="/projects/bitcoin/develop">
    <span>
     <span>
      Develop
     </span>
    </span>
   </a>
   <ul>
    <li id="menu_project_website">
     <a href="http://www.bitcoin.org">
      Web Site
     </a>
    </li>
    <li id="menu_project_screenshots">
     <a href="/project/screenshots.php?group_id=244765">
      Screenshots
     </a>
    </li>
    <li id="menu_project_news">
     <a href="/news/?group_id=244765">
      News
     </a>
    </li>
    <li id="menu_stats">
     <a href="/project/stats/?group_id=244765&amp;ugn=bitcoin">
      Project Statistics
     </a>
    </li>
    <li id="menu_download_stats_dist">
     <a href="/downloads/bitcoin/stats_timeline">
      Download Stats (Beta)
     </a>
    </li>
   </ul>
  </li>
  <li id="menu_mail">
   <a href="/mail/?group_id=244765">
    <span>
     <span>
      Mailing&nbsp;Lists
     </span>
    </span>
   </a>
   <ul>
    <li id="menu_mlist_bitcoin-list">
     <a href="/mailarchive/forum.php?forum_name=bitcoin-list">
      bitcoin-list
     </a>
    </li>
    <li id="menu_mail_search" class="tools">
     <a href="/search/?group_id=244765&amp;type_of_search=mlists">
      Search Mail Lists
     </a>
    </li>
   </ul>
  </li>
  <li id="menu_code">
   <a href="/scm/?type=svn&amp;group_id=244765">
    <span>
     <span>
      Code
     </span>
    </span>
   </a>
   <ul>
    <li id="menu_svn_about">
     <a href="/scm/?type=svn&amp;group_id=244765">
      SVN
     </a>
    </li>
    <li id="menu_svn_browse">
     <a href="http://bitcoin.svn.sourceforge.net/viewvc/bitcoin/">
      SVN Browse
     </a>
    </li>
    <li id="menu_svn_stats">
     <a href="/project/stats/detail.php?group_id=244765&amp;ugn=bitcoin&amp;type=svn">
      SVN Statistics
     </a>
    </li>
   </ul>
  </li>
 </ul>
</div>
</nav>
</header>

        <div id="messages">
        </div>
        <div id="page-body">
    <noscript>
        <p>The interactive file manager requires Javascript. Please enable it or use <a href="https://sourceforge.net/apps/trac/sourceforge/wiki/Release%20files%20for%20download#SCP">sftp or scp</a>.
        <br/>You may still <em>browse</em> the files here.</p>
    </noscript><div class="download-bar">Looking for the latest version? <strong>
    <a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-0.3.21/bitcoin-0.3.21-macosx.zip/download" title="/Bitcoin/bitcoin-0.3.21/bitcoin-0.3.21-macosx.zip:  released on 2011-05-02 18:15:17 UTC">
        <span>Download bitcoin-0.3.21-macosx.zip (9.5 MB)</span>
    </a>
    </strong></div>
    <div id="files">
        <div class="files-breadcrumb">
            <span class="actions"><a href="/api/file/index/project-id/244765/mtime/desc/limit/20/rss" title="Monitor this project's files using RSS" data-icon="f" class="ico ico-feed"></a></span>
            
                <a id="home" href="/projects/bitcoin/files/" title="Files root directory">
            
            Home
            
                </a>
                /
            
            <a href="/projects/bitcoin/files/Bitcoin/" title="Bitcoin">Bitcoin</a> /
            
            <span class="current-dir">bitcoin-0.3.3</span>
        </div>

        <table id="files_list" title="This is a list of the files for this project">
            <col class="name-column">
            <col class="date-column">
            <col class="size-column">
            <col class="status-column">
            <thead>
                <tr>
                    <th title="The file or folder's name" id="files_name_h" class="first">Name</th>
                    <th title="The file or folder's last modified date" id="files_date_h" class="opt">Modified</th>
                    <th title="The file size" id="files_size_h" class="opt">Size</th>
                    <th title="A snapshot of the file or folder's status" id="files_status_h" class="typesort">Status</th>
                </tr>
                
                    <tr>
                        <th colspan="4" class="first" id="parent_folder"><a href=".." title="One level up"><span data-icon="{" class="onelevup ico ico-uparrow"></span>Parent folder</a></th>
                    </tr>
                
            </thead>
            <tfoot>
                <tr>
                    <td id="totals"><span class="label">Totals: </span>4 Items</td>
                    <td class="opt">&nbsp;</td>
                    <td headers="files_size_h" class="opt">26.2 MB</td>
                    <td headers="files_status_h">
                        
                    </td>
                </tr>
            </tfoot>
            <tbody>
                
                <tr title="bitcoin-0.3.3-macosx.zip" class="file warn">
                    <th scope="row" headers="files_name_h">
                        <a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-macosx.zip/download"
                           title="Click to download bitcoin-0.3.3-macosx.zip"
                           class="name">
                        bitcoin-0.3.3-macosx.zip
                        </a>
                    </th>
                    <td headers="files_date_h" class="opt"><abbr title="2010-07-24 22:36:45 UTC">2010-07-24</abbr></td>
                    <td headers="files_size_h" class="opt">6.8 MB</td>
                    <td headers="files_status_h" class="status file"><a class="fs-stats ui-corner-all no-recent-downloads file" href="/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-macosx.zip/stats/timeline" title="81 downloads, none recently."></a></td>
                </tr>
                <tr title="bitcoin-0.3.3-win32-setup.exe" class="file warn">
                    <th scope="row" headers="files_name_h">
                        <a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-win32-setup.exe/download"
                           title="Click to download bitcoin-0.3.3-win32-setup.exe"
                           class="name">
                        bitcoin-0.3.3-win32-setup.exe
                        </a>
                    </th>
                    <td headers="files_date_h" class="opt"><abbr title="2010-07-24 18:33:07 UTC">2010-07-24</abbr></td>
                    <td headers="files_size_h" class="opt">5.3 MB</td>
                    <td headers="files_status_h" class="status file"><a href="/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-win32-setup.exe/stats/timeline" class="fs-stats ui-corner-all file"><img class="fs-sparklines file" src="http://a.fsdn.com/con/img/gallery/opa75.png" data-src="http://chart.apis.google.com/chart?cht=ls&amp;chs=20x16&amp;chco=0685c6&amp;chm=B,0685c6,0,0,0&amp;chd=t:1,0,0,0,0,0,0&amp;chds=0,1" title="577 downloads" alt="577 downloads" width="20" height="16" /></a></td>
                </tr>
                <tr title="bitcoin-0.3.3-win32.zip" class="file warn">
                    <th scope="row" headers="files_name_h">
                        <a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-win32.zip/download"
                           title="Click to download bitcoin-0.3.3-win32.zip"
                           class="name">
                        bitcoin-0.3.3-win32.zip
                        </a>
                    </th>
                    <td headers="files_date_h" class="opt"><abbr title="2010-07-24 18:16:12 UTC">2010-07-24</abbr></td>
                    <td headers="files_size_h" class="opt">5.3 MB</td>
                    <td headers="files_status_h" class="status file"><a href="/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-win32.zip/stats/timeline" class="fs-stats ui-corner-all file"><img class="fs-sparklines file" src="http://a.fsdn.com/con/img/gallery/opa75.png" data-src="http://chart.apis.google.com/chart?cht=ls&amp;chs=20x16&amp;chco=0685c6&amp;chm=B,0685c6,0,0,0&amp;chd=t:1,0,0,0,0,0,0&amp;chds=0,1" title="153 downloads" alt="153 downloads" width="20" height="16" /></a></td>
                </tr>
                <tr title="bitcoin-0.3.3-linux.tar.gz" class="file warn">
                    <th scope="row" headers="files_name_h">
                        <a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-linux.tar.gz/download"
                           title="Click to download bitcoin-0.3.3-linux.tar.gz"
                           class="name">
                        bitcoin-0.3.3-linux.tar.gz
                        </a>
                    </th>
                    <td headers="files_date_h" class="opt"><abbr title="2010-07-24 13:22:04 UTC">2010-07-24</abbr></td>
                    <td headers="files_size_h" class="opt">8.8 MB</td>
                    <td headers="files_status_h" class="status file"><a href="/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-linux.tar.gz/stats/timeline" class="fs-stats ui-corner-all file"><img class="fs-sparklines file" src="http://a.fsdn.com/con/img/gallery/opa75.png" data-src="http://chart.apis.google.com/chart?cht=ls&amp;chs=20x16&amp;chco=0685c6&amp;chm=B,0685c6,0,0,0&amp;chd=t:1,0,0,0,0,0,0&amp;chds=0,1" title="350 downloads" alt="350 downloads" width="20" height="16" /></a></td>
                </tr>
            </tbody>
        </table>
        <div id="files-drawer" class="fs-widget fs-drawer consumer">
        </div>
    </div>

    
    <div id="sidebar-ads">
        <div class="ads">
            <div id="fad84" class="ad imu">
                
<script type="text/javascript">
    adspot = ad_prefix + 'p84_medrec';
    if (adid !== "") {
        adspot += ";comp=" + adid;
    }

    if (immersion_adcode === "") {
        
        
        document.write(unescape('%3Cscript src="http://ad.doubleclick.net/adj/ostg.sourceforge/' + adspot + ';pg=' + ad_page + ';psrch=' + ad_search + ';logged_in=0;' + ad_topics + dfp_dcopt + 'u=' + dfp_u + ';tile=' + dfp_tile + demandbase + ';sz=300x250,300x600;ord=' + dfp_ord + '?" type="text/javascript"%3E%3C/script%3E'));
        
        dfp_tile = dfp_tile + 1;
        dfp_dcopt = ''; 
    }
</script>
            </div>
            <div id="fad85" class="ad imu">
                
<script type="text/javascript">
    adspot = ad_prefix + 'p85_medrec';
    if (adid !== "") {
        adspot += ";comp=" + adid;
    }

    if (immersion_adcode === "") {
        
        
        document.write(unescape('%3Cscript src="http://ad.doubleclick.net/adj/ostg.sourceforge/' + adspot + ';pg=' + ad_page + ';psrch=' + ad_search + ';logged_in=0;' + ad_topics + dfp_dcopt + 'u=' + dfp_u + ';tile=' + dfp_tile + demandbase + ';sz=300x250;ord=' + dfp_ord + '?" type="text/javascript"%3E%3C/script%3E'));
        
        dfp_tile = dfp_tile + 1;
        dfp_dcopt = ''; 
    }
</script>
            </div>
        </div>
    </div>
    

        </div>
        
        <hr id="footer_separator">
          
<footer id="site-footer">
    <nav>
        <a href="/support/">Support</a>
        <a href="/blog/">Blog</a>
        <a href="http://twitter.com/sfnet_ops">Status</a>
        <a href="http://p.sf.net/sourceforge/terms">Terms</a>
        <a href="http://p.sf.net/sourceforge/privacy">Privacy</a>
        <a href="http://geek.net/advertise/">Advertise</a>
        <a href="/about">About</a>
    </nav>
    <div id="copyright">
        &copy; 2011 <a href="http://geek.net" title="Network which provides and promotes Open Source software downloads, development, discussion and news.">Geeknet, Inc.</a>
    </div>
</footer>
            <script src="http://a.fsdn.com/con/js/min/sf.js-ar_LY.js?1304005231" type="text/javascript"></script>
        
        <!-- Begin comScore Tag -->
        <script type="text/javascript">
            document.write(unescape("%3Cscript src='" + (document.location.protocol === "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js' %3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            if (window.COMSCORE) {
                COMSCORE.beacon({
                    c1: 2,
                    c2: 6035546,
                    c3: "",
                    c4: "",
                    c5: "",
                    c6: "",
                    c15: ""
                });
            }
        </script>
        <noscript>
            <img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=6035546&amp;c3=&amp;c4=&amp;c5=&amp;c6=&amp;c15=&amp;cj=1" alt="comScore2" />
        </noscript>
        <!-- End comScore Tag -->
        
<script type="text/javascript" src="http://a.fsdn.com/con/js/files.js?1304005231"></script>


<script type="text/html" id="default_platforms_tmpl">
    <%
    var defaults = [
            { value: 'windows', label: 'Windows' },
            { value: 'mac', label: 'Mac OS X' },
            { value: 'linux', label: 'Linux' },
            { value: 'bsd', label: 'BSD' },
            { value: 'solaris', label: 'Solaris' },
            { value: 'others', label: 'Others' }
        ];
    %><% if (this.length) { %><div class="drawer-label">
        <span>Default Download For:</span>
    </div>
    <div class="drawer-value">
        <ul>
            <% for (i in defaults) { %>
            <% var v = defaults[i].value, l = defaults[i].label; %><% if (this.indexOf(v) >= 0) { %><li><span title="<%= l %>" class="platform-icon <%= v %>"><%= l %></span><% } %><% } %>
        </ul>
    </div><% } %></script>

<script type="text/html" id="file_drawer_tmpl">
<form class="bp" action="/projects/bitcoin/files/<%= this.full_path %>" method="put" id="file_properties_content">
    <table id="drawer_row">
        <col class="name-column">
        <col class="date-column">
        <col class="size-column">
        <col class="status-column">
        <tbody>
            <tr title="<%= this.name %>">
                <td><a href="<% if (this.type === 'f') { %><%= this.download_url %><% } else { %><%= this.url %><% } %>" class="name"><%= this.name %></a>
                </td>
                <td class="files-date"></td>
                <td class="files-size"></td>
                <td class="files-status status"></td>
            </tr></tbody>
    </table>
    <div id="file-details">
        <% if (this.type === 'f') { %>
        <div id="file-info">
            <div class="label">
                <span>SHA1:</span>
            </div>
            <div class="value">
                <pre class="selectable"><%= this.sha1 %></pre>
            </div>

            <div class="label">
                <span>MD5:</span>
            </div>
            <div class="value">
                <pre class="selectable"><%= this.md5 %></pre>
            </div><% if (this.legacy_release_notes) { %>
            <div class="value no-label">
                <span><a href="<%= this.legacy_release_notes %>">Release Notes</a></span>
            </div>
            <% } %>
        </div>

        <div id="download-info">
            <div class="label">
                <span>Downloads:</span>
            </div>
            <div class="value">
                <span><%= (this.downloads === null ? 'Not counted' : this.downloads) %></span>
            </div><div class="default">
                <span style="display: block; position: static;" class="busy-spinner ui-corner-all"></span>
            </div>
        </div>
        <% } %></div>
</form>
</script>

<script type="text/javascript">
    jQuery(function ($) {
        $('#files').files();
        /*jslint white: false*/
        net.sf.files = {
            "bitcoin-0.3.3-macosx.zip": {"sha1": "1eb3550fcd94edeb2f6c02d5977739b541745b3a", "name": "bitcoin-0.3.3-macosx.zip", "mirrors": 0, "url": "/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-macosx.zip/", "downloads": 81, "exclude_reports": false, "download_url": "http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-macosx.zip/download", "default": "", "downloadable": true, "path": "/Bitcoin/bitcoin-0.3.3", "download_label": "", "md5": "5b905063d7e1dbcfd300e18ed086f692", "type": "f", "full_path": "Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-macosx.zip", "legacy_release_notes": null},
            "bitcoin-0.3.3-win32-setup.exe": {"sha1": "71b24201d4893c4fdea88388f4376ddee3b38a6b", "name": "bitcoin-0.3.3-win32-setup.exe", "mirrors": 0, "url": "/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-win32-setup.exe/", "downloads": 577, "exclude_reports": false, "download_url": "http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-win32-setup.exe/download", "default": "", "downloadable": true, "path": "/Bitcoin/bitcoin-0.3.3", "download_label": "", "md5": "1686432dabdde46f2fbcd2ac6f072a9b", "type": "f", "full_path": "Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-win32-setup.exe", "legacy_release_notes": null},
            "bitcoin-0.3.3-win32.zip": {"sha1": "6e638fa0c46e901e58bc66130a4b8ff4b6340083", "name": "bitcoin-0.3.3-win32.zip", "mirrors": 0, "url": "/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-win32.zip/", "downloads": 153, "exclude_reports": false, "download_url": "http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-win32.zip/download", "default": "", "downloadable": true, "path": "/Bitcoin/bitcoin-0.3.3", "download_label": "", "md5": "e1feee4048539603d3d98c569434cbd5", "type": "f", "full_path": "Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-win32.zip", "legacy_release_notes": null},
            "bitcoin-0.3.3-linux.tar.gz": {"sha1": "ddb975bcaa2b673f2f312abce51f085f68527968", "name": "bitcoin-0.3.3-linux.tar.gz", "mirrors": 0, "url": "/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-linux.tar.gz/", "downloads": 350, "exclude_reports": false, "download_url": "http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-linux.tar.gz/download", "default": "", "downloadable": true, "path": "/Bitcoin/bitcoin-0.3.3", "download_label": "", "md5": "4591798392bd357f476d56af51a44a11", "type": "f", "full_path": "Bitcoin/bitcoin-0.3.3/bitcoin-0.3.3-linux.tar.gz", "legacy_release_notes": null}
            };
    });
    jQuery(window).load(function() {
        $('.fs-sparklines').each(function(){
          $(this).attr('src', $(this).attr('data-src'));
        });

        var tsConfig = {
            widgets: ['zebra'],
            sortForce: [[3, 0]],
            headers: {
                1: { sorter: 'abbrdate' },
                2: { sorter: 'filesize' },
                3: { sorter: 'type'}
            },
            textExtraction: function (node) {
                return node.innerHTML;
            }
        };

        if ($('#files_list tbody tr').length) {
            $('#files_list').tablesorter(tsConfig);
            $('#files_list tr th#parent_folder').unbind();
            $('#files_list tr th.header').not('.typesort').not('#parent_folder').addClass('usersortable').append('<span class="ui-icon fs-toggle"><\/span>');
        }
    });
</script>

        <!-- KISSinsights page surveys -->
        <script type="text/javascript">
            var _kiq = _kiq || [];
            _kiq.push(['options', { anchor: 'left' }]);
            
        </script>
        <script type="text/javascript" src="//s3.amazonaws.com/ki.js/16994/3eh.js" async></script>
        <!-- End KISSinsights -->
    </body>
</html>